body {
    background-color:#ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
}

#login-form{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 170px;
    border: solid black;
    border-radius: 5%;
    transform: translate(-50%, -50%);
    padding-bottom: 10px;
}

.header{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:hsl(0, 0%, 95%);
    margin-bottom: 10px;
    height: 100px;
    width: 100%;
    overflow: hidden;
    border-bottom: solid black 2px;
    border-radius:8px;
}

.header #logo{
    width: 95px;
    height: 95px;
    position: fixed;
    top: 5px;
    left: 50px;
}

.main-body{
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
}

.main-menu-option{
    background-color:hsl(0, 0%, 98%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    margin: 15px;
    border: 1.5px solid black;
    border-radius: 10px;   
}

.main-menu-option:hover{
    background-color:hsl(0, 0%, 80%);
}

#main-menu-option-img{
    height: 200px;
    width: 200px;
}

.side-menu{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    position:fixed;
    top: 110px;
    left: 5px;
    bottom: 1%;
    border: 2px solid black;
    border-radius: 8px;
    width: 200px;
    /*height:100%;*/
    padding-top: 1.5%;
    /* margin-top: 0px; */
    overflow: scroll;
}

.side-menu-option{
    padding: 4%;
    width: 90%;

}

.side-menu-option:hover{
    background-color:hsl(0, 0%, 80%);
    border-radius: 10px;
    cursor: pointer;
}

#display-region{
    border: 2px solid;
    border-radius: 8px;
    
    position: fixed;
    top: 110px;
    left: 14%;
    right: 1%;
    bottom: 1%;

    overflow: auto;

    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: first baseline;
}

#student-data-table {
    display: flex;
    justify-content: center;
    border-collapse: collapse;
    width: 100%;

}

#student-data-table tbody tr {
    border-bottom: 1px solid #ccc;
}

#student-data-table tbody tr:hover {
    background-color: #f0f0f0;
}

#student-data-table td {
    border: none; /* No borders for table cells */
    padding: 8px;
    text-align: left; /* Left-align all cell data */
    border-bottom: 1.5px solid #ddd;
}

#student-data-table th{
    border-bottom: 2px solid rgba(0, 0, 0, 0.7);
}

#student-data-table table{
    width: 100%;
}

#adding-student-form {
    /*border: 1px solid #ccc; !* Neat thin border *!*/
    padding: 20px; /* Adjust padding as needed */
    width: 50%; /* Adjust max-width as needed */
    margin: 0 auto; /* Center the form horizontally */
    display: flex;
    flex-direction: column;
    align-items: center;
}

#adding-student-form input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px; /* Adjust margin as needed */
    box-sizing: border-box; /* Ensure padding and border are included in the width */
}

#adding-student-form button[type="submit"] {
    background-color: #007bff; /* Example button color */
    color: #fff; /* Text color */
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#adding-student-form button[type="submit"]:hover {
    background-color: #0056b3; /* Example hover color */
}