body {
    background-color:#ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0%;
}

a{
    text-decoration: none;
    color: black;
}

#login-form{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 170px;
    border: solid black;
    border-radius: 5%;
    transform: translate(-50%, -50%);
    padding-bottom: 10px;
}

.header{
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:hsl(0, 0%, 98%);
    margin-bottom: 10px;
    height: 100px;
    width: 100%;
    overflow: hidden;
}

.header #logo{
    width: 95px;
    height: 95px;
    position: fixed;
    top: 5px;
    left: 50px;
}

.main-body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    position: relative;
}

.main-menu-option{
    background-color:hsl(0, 0%, 98%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    margin: 15px;
    border: solid;
    border-width: 1.5px;
    border-color: black;
    border-radius: 10px;   
}

.main-menu-option:hover{
    background-color:hsl(0, 0%, 80%);
}

#main-menu-option-img{
    height: 200px;
    width: 200px;
}

.side-menu{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    position:fixed;
    top: 110px;
    left: 5px;
    bottom: 3%;
    border: solid;
    border-color: black;
    border-width: 2px;
    width: 200px;
    /*height:100%;*/
    padding-top: 1.5%;
    /* margin-top: 0px; */
    overflow: scroll;
}

.side-menu-option{
    padding: 4%;
    width: 90%;

}

.side-menu-option:hover{
    background-color:hsl(0, 0%, 80%);
    border-radius: 10px;
    cursor: pointer;
}

#display-region{
    border: solid;
    border-width: 2px;
    
    position: fixed;
    top: 110px;
    left: 14%;
    right: 2%;
    bottom: 3%;
    position: fixed;
    overflow: auto;

    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: first baseline;
}

#student-data-table {
    display: flex;
    justify-content: center;
    border-collapse: collapse;
    width: 100%;

}

#student-data-table tbody tr {
    border-bottom: 1px solid #ccc;
}

#student-data-table tbody tr:hover {
    background-color: #f0f0f0;
}

#student-data-table td {
    border: none; /* No borders for table cells */
    padding: 8px;
    text-align: left; /* Left-align all cell data */
    border-bottom: 1px solid #ddd;
}

#student-data-table th{
    border-bottom: 1px solid #ddd;
}

#student-data-table table{
    width: 100%;
}
