body {
    background-color:#ffffff;
}
a {
    text-decoration: none;
    color: white;
  }

.sidebar{
    background-color: #810081;
    color: #ffffff;
    width: 15%;
    position: fixed;
    top: 0;
    left: 0;
    min-height: 800px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#logo{
    

}

.sidebar:hover{
    background-color: hsl(300, 100%, 24%);
}

#logo{
    width: 100%;
    
}

.side-contents{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}



.side-menu-options{
    padding-top: 35px;
    padding-bottom: 35px;
    width: 70%;
    border-radius: 10px;
    text-align: left;
    padding-left: 25px;
    padding-right: 25px;
    
}

.side-menu-options:hover{
    background-color: hsl(300, 100%, 22%);
    cursor: pointer;
}

