body {
    background-color:#ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0%;
}

a{
    text-decoration: none;
    color: black;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:hsl(0, 0%, 98%);
    margin-bottom: 10px;
    height: 100px;
}

#logo{
    width: 95px;
    height: 95px;
    position: absolute;
    top: 5px;
    left: 50px;
}

.main-body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    position: relative;
}

.main-menu-option{
    background-color:hsl(0, 0%, 98%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    margin: 15px;
    border: solid;
    border-width: 1.5px;
    border-color: black;
    border-radius: 10px;   
}

.main-menu-option:hover{
    background-color:hsl(0, 0%, 80%);
}

#main-menu-option-img{
    height: 200px;
    width: 200px;
}

.side-menu{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    position:fixed;
    top: 110px;
    left: 5px;
    border: solid;
    border-color: black;
    border-width: 2px;
    width: 200px;
    height:100%;
    padding-top: 1.5%;
    /* margin-top: 0px; */
}

.side-menu-option{
    padding: 4%;
    width: 90%;

}

.side-menu-option:hover{
    background-color:hsl(0, 0%, 80%);
    border-radius: 10px;
    cursor: pointer;
}

