<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Admin Login</title>
</head>
<body>
<div class="container">
    <h1>Login</h1>
    <form th:action="@{/admin/verify}" th:object = "${admin}" method="post" >
        <label>Username :
            <input type="text" th:field="*{username}" placeholder="username" required >
        </label>
        <br>
        <label>Password :
            <input placeholder="password"
                   required
                   th:field="*{password}"
                   type="password">
        </label>
        <br>
        <button type="submit" class = "btn btn-info col-2">Login</button>
    </form>
</div>
</body>
</html>