<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Admin Login</title>
</head>
<body>
<div class="header">
    <a href="/index.html"><img src="/images/rec-logo.png" alt="logo" id="logo"></a>
    <h1>Admin Portal</h1>
</div>
<div id="login-form">
    <h2>Login</h2>
    <form th:action="@{/admin/verify}" th:object = "${admin}" method="post">
        <label>Username :
            <input type="text" th:field="*{username}" placeholder="username" required >
        </label>
        <br>
        <label>Password :
            <input placeholder="password"
                   required
                   th:field="*{password}"
                   type="password">
        </label>
        <br>
        <button type="submit">Login</button>
    </form>
</div>
</body>
</html>