<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script type="text/javascript" th:src="@{/webjars/htmx.org/dist/htmx.min.js}"></script>
    <title>Landing Page</title>
</head>
<body>
    <div class="text-center">
        <h1 class="text-2xl font-bold my-5">
            Request
        </h1>
        <button hx-get="http://localhost:8080/student/all" 
                hx-swap="outerHTML"
                class="bg-blue-500 text-white py-2 px-2 rounded-lg">
            Fetch Students
        </button>
    </div>
</body>
</html>