<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Examplify Student</title>
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
    <div class="Student-main">
        <div class="header">
            <a href="index.html"><img src="../images/rec-logo.png" alt="logo" id="logo"></a>
            <h1>Student Portal</h1>
        </div>
        <div class="main-body">
            <!-- The sidebar that contains options -->
            <div class="side-menu">
                <div class="side-menu-option">
                    <a href="">Student Information</a>
                </div>
                <div class="side-menu-option">
                    <a href="">Add Student</a>
                </div>
                <div class="side-menu-option">
                    <a href="">Modify Student Data</a>
                </div>
                <div class="side-menu-option">
                    <a href="">Add Curriculum</a>
                </div>
                <div class="side-menu-option">
                    <a href="">Modify Curriculum</a>
                </div>
                <!-- <div class="side-menu-option">
                    <a href="">Option</a>
                </div>
                <div class="side-menu-option">
                    <a href="">Option</a>
                </div>
                <div class="side-menu-option">
                    <a href="">Option</a> -->
                </div>
            </div>
            <!-- The Main Portion that displays content -->
            <div>

            </div>
        </div>
    </div>
</body>
</html>